<div class="container w-50 mt-5">
    <div class="card">
        <div class="card-header"><h5 class="ml-3">Reset Password</h5></div>
        <div class="card-body">
            <form class="row justify-content-center" [formGroup]="fg" (ngSubmit)="sendLink()">
                <table>
                    <tr class="text-right">
                        <td class="pr-4 pt-3">E-Mail Address</td>
                        <td class="pt-3"><input class="form-control" type="email" formControlName="email"></td>
                    </tr>
                    <tr class="text-right" *ngIf="fg.get('email')?.touched && fg.get('email').errors?.required">
                        <td class="small text-danger" colspan="2">Email is required</td>
                    </tr>
                    <tr class="text-right" *ngIf="fg.get('email')?.touched && fg.get('email').errors?.email">
                        <td class="small text-danger" colspan="2">Invalid email format. eg. jogn.smith@abc.com</td>
                    </tr>
                    <tr class="text-center">
                        <td class="pt-3" colspan="2">
                            <input class="btn btn-primary mr-3" type="submit" value="Send Password Reset Link">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>